header {
  width: 100%;
  height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #4f259e;
  z-index: 99;

  .menu-content {
    max-width: 100%;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.2rem;

    .logo {
      width: 20%;
      a {
        color: #fff;
        text-decoration: unset;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
    }

    .login-btn {
      button {
        font-size: 0.8rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        border: 2px #fff solid;
        border-radius: 5px;
        background-color: transparent;
        color: #fff;
        padding: 0.3rem 0.5rem;
        margin-right: 1rem;
        cursor: pointer;

        &:hover {
          background-color: #fff;
          color: #4f259e;
        }
      }
    }

    .searchbar {
      width: 30%;
      input {
        width: -webkit-fill-available;
      }
    }

    .profil {
      width: 50%;
      height: auto;
      display: inline-flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      .pseudo-profil {
        margin-right: 1rem;

        h4 {
          color: #c4a4ff;
          font-size: 1.1rem;
          font-weight: 500;
        }
      }

      .sub-menu {
        cursor: pointer;
      }

      .menu-mobile {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 4em;
        right: 0;
        width: 130px;
        height: 150px;
        background: #2b2135;
        justify-content: center;
        align-items: center;

        span {
          margin: 0.5rem 0;
          padding: 0.5rem 0;
          color: #fff;
          font-size: 1rem;
          font-weight: 600;
          text-decoration: none;
          cursor: pointer;

          &:hover {
            color: #b289ff;
          }
        }

        .lignes {
          width: 85%;
          height: 1px;
          background: #3a2b56;
        }
      }

      .icon-profil {
        width: 36px;
        height: 36px;
        background-position: center;
        background-size: cover;
        object-fit: cover;
        border-radius: 50%;
        border: 4px solid #b289ff;
        margin-right: 1.5rem;
      }
    }
  }
}

.bot-nav-container {
  position: fixed;
  width: 100%;
  height: 48px;
  bottom: 0;
  left: 0;
  background: $color-600;

  .icons {
    width: 100%;
    height: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    place-items: center;

    a {
      &.active-bot {
        border-bottom: 2px #4f259e solid;
      }
    }
  }
}
