.profil-main {
  width: 100%;
  min-height: 100vh;
  position: relative;

  .head-cover {
    width: 100%;
    height: 360px;
    margin-top: 4rem;

    @media (max-width: 864px) {
      height: 260px;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .avatar-profil {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 160px;
      height: 160px;
      object-fit: cover;
      object-position: top;
      border-radius: 50%;
      border: 6px #4f259e solid;
      background-color: #4f259e;
      transform: translateY(-45%);
    }

    .icone-upload {
      position: absolute;
      transform: translate(150%, -35%);
      border-radius: 50%;
      background-color: blueviolet;
      width: 48px;
      height: 48px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    .btn-upload {
      position: relative;
      margin: 1rem 0;
      width: 120px;
      height: 35px;
      transform: translateY(-50px);
      background: #4f259e;
      text-align: center;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 1rem;
      color: #fff;
      border: 2px #fff solid;
      border-radius: 4px;
      cursor: pointer;
      transition: all 150ms ease-out;
      padding: 0.5rem 0.8rem;

      &:hover {
        background: transparent;
        color: #4f259e;
        border: 2px #4f259e solid;
      }
    }
  }

  .sec-info {
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: -4.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;

    h2 {
      color: $color-200;
    }

    .section-bio {
      padding: 0 1rem;
      text-align: center;

      p {
        font-style: italic;
        font-size: 1.2rem;
        color: #63577b;
        margin: 0;
      }

      .btn-style {
        @include btn-style;
        padding: 0.5rem 1rem !important;
        margin-top: 1.5rem;
      }

      textarea {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        width: 90%;
        min-height: 100px;
        resize: none;
        border-radius: 8px;
        border: 1px solid #ddd;
        padding: 0.5rem;
        color: #666;
        box-shadow: inset 0 0 0.25rem #ddd;
        &:focus {
          outline: none;
          border: 1px solid darken(#ddd, 5%);
          box-shadow: inset 0 0 0.5rem darken(#ddd, 5%);
        }
        &[placeholder] {
          font-style: italic;
          font-size: 0.875rem;
        }
      }

      #the-count {
        float: right;
        padding: 0.1rem 0 0 0;
        font-size: 0.875rem;
      }
    }

    .timestamp {
      color: #63577bbd;
    }

    .sec-follow {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
      justify-items: center;
      margin-bottom: 4rem;

      .followers {
        width: 50%;
        height: 50px;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #4f259e14;
        padding: 1rem;
        border-radius: 7px;
        border: 1px #4f259e38 solid;
        cursor: pointer;
        &:hover {
          box-shadow: 0px 0px 2px #63577b;
        }

        .first {
          width: 100%;

          display: inline-flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          h4 {
            margin: 0;
            margin-left: 0.5rem;
            color: #63577b;
            font-size: 1.3rem;
            font-weight: 400;
            letter-spacing: -1.5px;
          }
        }
        h3 {
          margin: 0;
          color: #63577b;
          font-size: 0.9rem;
          font-weight: 500;
        }
      }

      .following {
        width: 50%;
        height: 50px;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #4f259e14;
        padding: 1rem;
        border-radius: 7px;
        border: 1px #4f259e38 solid;
        cursor: pointer;
        &:hover {
          box-shadow: 0px 0px 2px #63577b;
        }

        .first {
          width: 100%;
          display: inline-flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          h4 {
            margin: 0;
            margin-left: 0.5rem;
            color: #63577b;
            font-size: 1.3rem;
            font-weight: 400;
            letter-spacing: -1.5px;
          }
        }

        h3 {
          margin: 0;
          color: #63577b;
          font-size: 0.9rem;
          font-weight: 500;
        }
      }
    }
  }
}

.modal-popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #263556fa;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;

  .followers-popup {
    width: 80%;
    height: 75%;
    background: #f1edf9;
    position: relative;
    border: 2px #333 solid;
    border-radius: 15px;
    padding: 1rem;

    h1 {
      font-size: 1.6rem;
      color: $color-200;
      margin-left: 1rem;
    }

    svg {
      cursor: pointer;
      padding: 1rem;
      right: 0;
      display: inline-block;
      position: absolute;
    }

    ul {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: flex-start;
      margin: 0 auto;
      list-style: none;
      position: relative;
      width: 90%;
      height: inherit;
      margin: 0 auto;
      padding: 0;

      li {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 90%;
        height: 40px;
        margin: 0.5rem auto;
        background: #fff;
        border: 1px #d5c8ec solid;
        border-radius: 7px;
        padding: 0.2rem 0;
        box-shadow: 0px 0px 5px 1px #eae3f7;

        h5 {
          letter-spacing: 0.5px;
          font-size: 0.9rem;
          font-weight: 400;
          color: $color-200;
        }

        .follow-btn {
          background: transparent;
          border: 2px $color-primary solid;
          border-radius: 15px;
          padding: 0.1rem 0.5rem;
          color: $color-primary;
          font-weight: 300;
          cursor: pointer;
          &:hover {
            background-color: $color-primary;
            color: #fff;
          }
        }

        .unfollow-btn {
          background: $color-primary;
          border: 2px $color-primary solid;
          border-radius: 15px;
          padding: 0.1rem 0.5rem;
          color: #fff;
          font-weight: 300;
          cursor: pointer;
          &:hover {
            background-color: transparent;
            color: $color-primary;
          }
        }

        img {
          width: 34px;
          height: 34px;
          object-fit: cover;
          object-position: top;
          border-radius: 50%;
          border: 2px #4f259e solid;
          background-color: #4f259e;
        }
      }
    }
  }
}
