.main-posts {
  width: 100%;
  min-height: 100vh;
  position: relative;
  margin-top: 6rem;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .card-container {
      width: 100%;
      border: 1px #e6e6e6 solid;
      border-radius: 10px;
      box-shadow: 0px 0px 8px #e8e8e8;
      margin: 2rem 0;

      .card-head {
        display: inline-flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 52px;
        padding: 1rem 0;
        margin-top: 1rem;

        .avatar-icon {
          width: 42px;
          height: 42px;
          background-position: top;
          object-fit: cover;
          border-radius: 50%;
          border: 4px solid #b289ff;
        }

        .sec-name {
          h3 {
            font-size: 1.2rem;
            font-weight: 500;
            margin: 0;
            color: $color-200;
          }
          p {
            margin: 0;
            font-size: 0.8rem;
            font-weight: 400;
            color: $color-500;
          }
        }
      }

      .card-content {
        width: 100%;
        position: relative;

        p {
          margin-left: 1rem;
          font-size: 0.95rem;
          font-weight: 500;
          line-height: 1.6;
          letter-spacing: 0.5px;
          color: #453356;
        }

        .sec-image {
          width: 100%;
          height: 360px;
          position: relative;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .card-footer {
        position: relative;
        width: 100%;
        .icons-card {
          height: 64px;
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;

          .like {
            align-items: center;
            justify-content: center;
            display: inline-flex;

            span {
              font-size: 1.1rem;
              font-weight: 500;
              margin-left: 0.5rem;
              color: $color-500;
            }
          }

          .comment {
            align-items: center;
            justify-content: center;
            display: inline-flex;

            span {
              font-size: 1.1rem;
              font-weight: 500;
              margin-left: 0.5rem;
              color: $color-500;
            }
          }

          .share {
            align-items: center;
            justify-content: center;
            display: inline-flex;

            span {
              font-size: 1.1rem;
              font-weight: 500;
              margin-left: 0.5rem;
              color: $color-500;
            }
          }
        }
      }
    }

    i {
      color: #b289ff63;
    }
  }
}
